<div id="bodyAbout">
  <img src="../../../../assets/img/icons/about.png" alt="" />

  <span>
    <p>ABOUT</p>
  </span>

  <p>
    I'm a paragraph. Click here to add your own text and edit me. It’s easy.
  </p>
  <p>
    Just click “Edit Text” or double click me to add your own content and make
  </p>
  <p>changes to the font. I’m a great place for you to tell a story and let</p>
  <p>your users know a little more about you.</p>

  <span id="cir1"></span>
  <span id="cir2"></span>
  <span id="cir4"></span>
  <span id="cir5"></span>
</div>

<div id="bodygood">
  <span id="tituloGoodToKnow">
    <img src="../../../../assets/img/icons/goodToNow.png" alt="" />
  </span>
  <p class="text-center">GOOD TO KNOW</p>

  <div id="circulos">
    <span id="circulo1">
      <img src="../../../../assets/img/icons/mensaje.png" alt="" />
    </span>
    <span id="circulo2"
      ><img src="../../../../assets/img/icons/termometro.png" alt=""
    /></span>

    <span id="circulo3">
      <img src="../../../../assets/img/icons/Casa.png" alt="" />
    </span>
  </div>

  <span id="txtCirculo">
    <ul>
      <li>100% HOMEMADE</li>
      <li>CONTAINS BORAX</li>
      <li>BEST KEPT IN ROOM</li>
    </ul>
  </span>
</div>
