<div class="contact">
  <div id="fornulario">
    <div id="txtTitulo">
      <img
        id="img_titulo"
        src="../../../../assets/img/icons/avion.png"
        alt=""
      />
      <p id="titulo">CONTACT ME</p>
    </div>
    <div id="correos">
      <p>info@my-domain.com | San Francisco, CA</p>
    </div>
  </div>

  <div class="formulario">
    <form>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <input type="text" class="form-control" required placeholder="Name" />
        </div>
        <div class="col-md-3 mb-3">
          <input
            type="text"
            class="form-control"
            required
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <input
            type="text"
            class="form-control"
            required
            placeholder="Subject"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <textarea
            name=""
            class="form-control"
            id=""
            cols="30"
            rows="5"
            placeholder="Message"
          ></textarea>

         <span id="enviar"><a >SEND </a></span> 
        </div>
      </div>
    </form>
  </div>

  <div id="circulos">
    <span id="circulo1"> </span>
    <span id="circulo2"> </span>
    <span id="circulo3"> </span>
    <span id="circulo4"> </span>
  </div>
</div>
<app-chat></app-chat>
