<div id="color2">
  <div id="colorTest">
    <span id="body">
      <span>
        <span id="imgbody"
          ><img src="../../../../assets/img/icons/frasco.png" alt="" />
          <p id="homeday">MY HOMEMADE</p>
          <p id="slime">SLIME FACTORY</p>
        </span>
      </span>
      <img id="burbujasgrandes" src="../../../../assets/img/icons/burbujas grande.png" alt="" />
      <img
        id="imgbottom"
        src="../../../../assets/img/icons/burbujas_bottom.png"
        alt=""
      />
    </span>
  </div>
</div>
