@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

#color2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0),
    rgb(251, 255, 0, 0.288)
  );
}

#color2 > #colorTest > #body {
  width: 100%;
  height: 80vh;
  display: block;
}

#color2 > #colorTest > #body > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#color2 > #colorTest > #body > span > #imgbody > img {
  margin-top: 20vh;
  margin-left: 43%;
}

#color2 > #colorTest > #body > span > #imgbody > #homeday {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 12px;
}
#color2 > #colorTest > #body > span > #imgbody > #slime {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 80px;
  margin-top: -19px;
}

#burbujasgrandes {
  margin-top: -18%;
  margin-left: -7%;
}

#imgbottom {
  margin-left: 68%;
  margin-top: -22%;
}

#colorTest {
  animation: bgColors 10s infinite alternate both;
}

@keyframes bgColors {
  0% {
    background: #ff7bb1;
  }
  25% {
    background: #fc9e92;
  }
  50% {
    background: #bf89f4;
  }
  75% {
    background: #f1a7e7;
  }
  100% {
    background: #bd8af4;
  }
}
